html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #121212;
    color: white
}

nav {
    display: flex;
    justify-content: center;
    background-image: url("images/header.png");
}

nav .header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 25svh;
    width:75vw;
    gap: 1em;
}

nav h1 {
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.search input {   
    width: 50vw;
    height: 40px;
    padding-left: 35px;
    font-size: 1rem;
    border: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #A5A5A5;
    background: url("images/search.png") no-repeat 10px center;
    background-color:#585858;    
}

.search button {
    width: 25vw;
    height: 40px;
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #4B4B4B;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.search input, .search button {
    height: 40px;
    box-sizing: border-box;
    margin: 0;
    line-height: 40px;
}

main {
    height: 65svh;
    width: 75vw;
    margin: auto; 
}

#placeholder {
    display: flex;
    flex-direction: column;
    height: 65svh;
    align-items: center;
    justify-content: center;  
}

#placeholder img {
    width: 70px;
}

#placeholder p {
    font-weight: 700;
    font-size: 1rem;
    color: #2E2E2F;
}

.placeholderError {
    font-weight: 900;
    font-size: 1rem;
    color: #656565;
    width: 60vw;
    text-align: justify;
    text-align-last: center;
}

.placeholderEmpty p {
    font-weight: 700;
    color: #787878 !important;
    margin-left: 1em;
}

.placeholderEmpty a {
    color: white;
    text-decoration: none;    
}  

.placeholderEmpty img {
    height: 1em;
    width: 1em;
    object-fit: contain;
    vertical-align: middle;
    margin-right: -1.4em;
}  

body.watchlist #placeholder {
    display: none;
}

body.watchlist #placeholder.visible {
    display: flex;
}

.movie-div {
    display: flex;
    border-bottom: 1.5px solid #2C2C2C ;
    padding: 1.5em 0;
    gap: 1.5em;
}

.movie-poster {
  height: 9.375em;
  width: 6.12em;
}

.movie-data {
    display: flex;
    flex-direction: column;
}

.movie-title {
    font-weight: 500;
    font-size: 1.125em;
}

.movie-data .title-row, .details-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 .75em 0;
} 

.movie-data img {
    width: 1em;
    height: 1em;
    padding-left: 0.5em;
    padding-right: 0.125em;
}

.movie-data .movie-ratings, .details-row {
    font-weight: 400;
    font-size: 0.75rem;
}

.movie-data .details-row {
    gap: 1.125em;
}

.movie-data .details-row button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    padding: 0;
    gap: 0.25em;
    cursor: pointer;
}

.movie-data .plot-row {
    color: #A5A5A5;
    font-weight: 400;
    font-size: 0.875rem;
}

.movie-data p {
    margin: 0;
}

.filmstrip {
  width: 120px;
  height: 60px;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.sprockets {
  position: absolute;
  left: 0;
  right: 0;
  height: 6px;
  background: repeating-linear-gradient(
    to left,
    #6d6d6d 0px,
    #6d6d6d 0px,
 4px,
    transparent 4px,
    transparent 12px
  );
  background-size: 120px 6px;
  z-index: 1;

}

.sprockets.top {
    top: 2px;
}

.sprockets.bottom {
    bottom: 2px;
}

.frames {
  width: 120px;
  height: 44px;
  overflow: hidden;
  position: relative;
  top: 10px;
}

.strip {
  display: flex;
  gap: 10px;
  width: max-content;
}

.frame {
  width: 40px;
  height: 40px;
  background-color: #2E2E2F;
  border-radius: 10px;
}

.filmstrip.animate .strip {
  animation: frameScroll 4s linear infinite;
}
.filmstrip.animate .sprockets {
  animation: sprocketScroll 4s linear infinite;
}

@keyframes frameScroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-250px); }
}

@keyframes sprocketScroll {
  0%   { background-position: 0 0; }
  100% { background-position: -250px 0; }
}

@media (min-width: 768px){
   .search button {
        width: 15vw;
   }

   .search input {
        width: 60vw;
   } 

   nav h1 {
        font-size: 3rem;
    }

}